/*      FONT        */
/*      COLORS        */
/*      GRADIENTS        */
/*      BORDERS        */
.text-center {
  text-align: center;
}

/*      SHADOWS        */
/* BREAKPOINTS  */
.btn-inline {
  background-color: transparent;
  border: 1px solid #D5D5D5;
  color: #D5D5D5;
  overflow: hidden;
  padding: 1rem 3rem;
  position: relative;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
  cursor: pointer;
}
.btn-inline::after {
  background-color: #917D3A;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.2s transform ease-out;
  will-change: transform;
  z-index: -1;
}
.btn-inline:hover::after {
  transform: translate(0, 0);
}
.btn-inline:hover {
  border: 2px solid transparent;
  color: #D5D5D5;
  transform: scale(1.05);
  will-change: transform;
}

figure {
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  padding: 3rem;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 36em) {
  figure {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
    margin-bottom: 1.5rem;
  }
}

blockquote {
  font-style: italic;
}

figcaption {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
}

.review__user-name {
  color: #ad9b62;
  cursor: pointer;
}
.gallery {
  display: flex;
  padding: 0 2rem;
}
.gallery__item {
  box-shadow: linear-gradient(to right bottom, #212529, #000);
}
.gallery__photo {
  width: 100%;
  display: block;
}
@media only screen and (max-width: 48em) {
  .gallery {
    padding: 0 1rem;
  }
}
@media only screen and (max-width: 36em) {
  .gallery {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}

.site-header {
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
}
@media only screen and (max-width: 36em) {
  .site-header {
    padding: 3rem 2rem;
  }
}

.logo {
  height: 3.6rem;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #D5D5D5;
  width: 90%;
}
.search__input:focus {
  outline: none;
  color: #FFF;
}
@media only screen and (max-width: 48em) {
  .search__input {
    width: 60%;
  }
}
@media only screen and (max-width: 36em) {
  .search__input {
    width: 80%;
  }
}
.search__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.search__icon {
  color: #D5D5D5;
}
.search__icon:hover {
  color: #FFF;
}

.list {
  margin: 2rem 0;
  list-style: none;
  padding: 3rem 0;
  display: flex;
  flex-wrap: wrap;
}
.list__item {
  flex: 0 0 50%;
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
}

.user-nav__icon-box {
  cursor: pointer;
}
.user-nav__icon {
  color: #D5D5D5;
}
.user-nav__icon:hover {
  color: #FFF;
}

/* flex grow | flex-srhink | flex-basis */
.sidebar {
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-nav {
  margin-top: 3.5rem;
}
.side-nav__item {
  list-style: none;
  position: relative;
}
.side-nav__item:not(:last-child) {
  margin-bottom: 0.5rem;
}
@media only screen and (max-width: 48em) {
  .side-nav__item {
    flex: 1;
  }
}
.side-nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0.3rem;
  background-color: #ad9b62;
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
}
.side-nav__item:hover::before, .side-nav__item--active::before {
  transform: scaleY(1);
  width: 100%;
}
.side-nav__link:link, .side-nav__link:visited {
  color: #D5D5D5;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 1.5rem 3rem;
  text-align: center;
  position: relative;
  z-index: 100;
}
.side-nav__link:hover {
  color: #FFF;
}
@media only screen and (max-width: 48em) {
  .side-nav {
    display: flex;
    margin: 0;
  }
}
@media only screen and (max-width: 36em) {
  .side-nav {
    flex-direction: column;
  }
}

.social-icons {
  display: flex;
  justify-content: center;
  margin: 2.6rem 0;
}
.social-icons__link {
  padding: 0.5rem;
}
.social-icons__icon {
  color: #D5D5D5;
}
.social-icons__icon:hover {
  color: #FFF;
}

/* LAYOUT */
.container {
  max-width: 140rem;
  margin: 8rem auto;
  background-image: linear-gradient(to right bottom, #212529, #000);
  border-radius: 0.5rem;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  min-height: 80rem;
}
@media only screen and (max-width: 87.5em) {
  .container {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}

.content {
  display: flex;
}
@media only screen and (max-width: 48em) {
  .content {
    flex-direction: column;
  }
}

/* Grows as much as it can */
.about {
  flex: 1;
}

.detail {
  display: flex;
  padding: 4.5rem;
}
@media only screen and (max-width: 48em) {
  .detail {
    padding: 2rem;
  }
}
@media only screen and (max-width: 36em) {
  .detail {
    flex-direction: column;
  }
}

.description {
  flex: 0 0 60%;
  margin-right: 4.5rem;
  padding: 3rem;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 48em) {
  .description {
    margin-right: 2.5rem;
    padding: 2rem;
  }
}
@media only screen and (max-width: 36em) {
  .description {
    align-items: center;
    text-align: center;
    margin: 0;
  }
}

.user-reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show {
  padding: 2.5rem 0;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 64em) {
  html {
    font-size: 60%;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  color: #D5D5D5;
  line-height: 1.6;
  background-image: linear-gradient(to right bottom, #212529, #000);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

/*# sourceMappingURL=style.css.map */
