.container{
    max-width: 140rem;
    margin: 8rem auto;
    background-image: $gradient-dark;
    border-radius: 0.5rem;
    box-shadow: $box-shadow-base;
    min-height: 80rem;
}

.content{
    display: flex;
}


/* Grows as much as it can */
.about {
    flex: 1;
}

.detail {
    display: flex;
    padding: 4.5rem;
}

.description {
    flex: 0 0 60%;
    margin-right: 4.5rem;
    padding: 3rem;
    box-shadow: $box-shadow-base;
}

.user-reviews {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}