.container{
    max-width: 140rem;
    margin: 8rem auto;
    background-image: $gradient-dark;
    border-radius: 0.5rem;
    box-shadow: $box-shadow-base;
    min-height: 80rem;
}

.content{
    display: flex;
}


/* Grows as much as it can */
.about {
    flex: 1;
}