.list {
    margin: 2rem 0;
    list-style: none;
    padding: 3rem 0;

    display: flex;
    flex-wrap: wrap;

    &__item {
        flex: 0 0 50%;
        margin-bottom: .5rem;
        font-size: 1.4rem;

    }
}