/*      FONT        */
$font-family-base: "Helvetica Neue", sans-serif;
$font-size-base: 1.6rem;
$font-weight-base: 400;
$line-height-base: 1.6;

/*      COLORS        */
$color-primary: #000;
$color-secondary: #ad9b62;
$color-secondary-dark: #917D3A;
$color-dark: #212529;
$color-dark-light: #313335;
$color-light: #D5D5D5;
$color-white: #FFF;

/*      SHADOWS        */
$box-shadow-base:  0 2rem 6rem rgba(0, 0, 0, .3);
